
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
 }  
body{
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3{
    font-family: "Playwrite GB S",Arial, Helvetica, sans-serif;
}
header,footer{
    text-align: center;
    background-color: #002e8b;
    color: white;
}

main {
    text-align: center;
}

.columna{
    display: inline-block;
   width: 30%;
   height: auto;
   background-color: #f3f3f3;
   vertical-align: top;
    
}
.columna img{
    display: block;
    width: 100%;
}

    
.columna a{
    color: #292929;
    text-decoration: none;
    background-color: #002e8b;
    font-size: larger;
    color: white;
}

footer{
    height: 80px;
    vertical-align: auto;
}

/* clases de la pagina de personajes */
.box-model{
    display: inline-block;
    background-color: pink;
    width: 200px;
    height: 200px;
    padding: 12px 20px 50px 10px;
    border: solid 5px blue;
    margin: 20px;


    /* Ancho completo de la cajas
    content margin
    200+30+10+20=240*/
}